<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Novo Professor')}">
<body>
<header th:replace="~{fragmentos :: header(titulo)}"></header>
<div class="conteiner">
    <div class="row">
        <h1>Novo Professor</h1>
    </div>

    <div class="conteiner">
      <div class="row">
        <form th:object="${requisicaoNovoProfessor}" action="/professores" method="post">
          <div class="mb-3">
            <label class="form-label">Nome do Professor</label>
            <input type="text" th:errorclass="is-invalid" class="form-control " th:field="*{nome}" > <!--O name deve ser o mesmo nome que o atributo da classe-->
            <div class="invalid-feedback" th:errors="*{nome}"></div>
          </div>
          <div class="mb-3">
            <label class="form-label">Salário</label>
            <input type="text" th:errorclass="is-invalid" class="form-control" th:field="*{salario}">
            <div class="invalid-feedback" th:errors="*{salario}"></div>
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" th:field="*{statusProfessor}">
             <option th:each="status : ${statusProfessor}"
                 th:value="${status}" th:text="${status}"></option>
       </select>
     </div>
     <button class="btn btn-primary" type="submit">Enviar</button>
     <a href="javascript:history.back()">Voltar</a>
   </form>
 </div>
</div>

</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>